
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* { margin:0; padding:0; box-sizing:border-box; }

html {
  font-family: 'Open Sans', sans-serif;
}

body {

}


.splash {
  height: 100vh; /* 100% of view height */
  width: 100%;
  min-width: 800px; /* to keep #name from text-wrapping*/
  background-image: url('images/splash-blackwood.jpg');

  /* position = relative in this parent else child will move relative to
  body instead of this parent */
  position: relative;
}

.splash #name {
  font-size: 55px;
  font-family: 'Indie Flower', cursive;
  color: white;

  position: absolute;
  left: 15%;
  top: 55%;
  /*
  margin-left: -195.18px;
  margin-top: -43.5px;
  */

}

.splash .sub-text {
  font-size: 13px;
  color: white;

  position: absolute;
  left: 15%;
  top: 55%;
  /* height of #name text, to put this text below it*/
  margin-top: 102px;
}


.side-bar {
  width: 0%;
  height: 100vh;
  background-color: #7f8c8d;

  /* makes ui changes take 0.4s linear */
  transition: 0.4s linear;

  position: relative;
}

.splash .side-bar .hide-btn {
  height: 50px;
  width: 50px;
  background-color: #bdc3c7;

  font-size: 12px;


  position: absolute;
  top: 0%;
  left: 100%;
  /* shift up by half of height to center button vertically */
  /*margin-top: -25px; */
  /* shift up by entire width to center button vertically */
  margin-left: -0px;


  /* makes ui changes take 0.4s linear */
  transition: 0.4s linear;
}
